@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=PT+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */
* {
  font-family: "IBM Plex Sans KR", sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans KR", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  overflow: auto;
  scroll-snap-type: "y mandatory";
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

h2 {
  font-weight: bold;
}
