/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=PT+Sans:wght@700&display=swap"); */
@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  transition: 500ms all ease;
  padding: 0;
  margin: 0;
  font-family: "SUIT-Medium";
  transition: ease-in-out;
  box-sizing: border-box;
}

#inbox_textinput::placeholder {
  color: white;
}

/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */
/* * {
  font-family: "IBM Plex Sans KR", sans-serif !important;
} */

#scroll-wrapper {
  /* overflow: auto; */
  scroll-snap-type: y mandatory;
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}

img:focus {
  outline: none;
}
